body, html{
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    height: 200px;
    background-repeat: space;
    background-position: top;
}

main{
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
}

article {
    margin: 0;
}

th, td {
    text-align: right !important;
}

article.charts {
    display: flex;
    width: 80%;
    margin: 15px auto;
    justify-content: space-between;
}

.chart {
    display: flex;
    max-width: 90%;
}

.chart.area {
    width: 38%;
}

.chart.total{
    width: 20%;
}

.chart.trend{
    width: 38%;
}

canvas {
    width: 50%;
}

article.grid-wrp {
    direction: ltr;
    width: 80%;
    margin: 0 auto;
}

.data-total {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.data-total div {
    text-align: center;
}

div#last-update {
    border-radius: 10px;
    font-size: 0.8em;
    margin: 8px;
    direction: rtl;
}

/*
.data.trend {
    position: relative;
    bottom: -200px;
    width: 100%;
    margin: 0 auto;
    height: 500px;
}*/

@media (max-width: 640px){
    header{
        background-size: cover;
        background-attachment: inherit;
        background-position-y: center;
        padding-bottom: 30px;
        height: 150px;
    }

    .grid-wrp, .chart.area, .chart.trend {
        display: none ;
    }

    .chart.total{
        display: block;
        width: 90%;
    }

    div#last-update {
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 5px;
    }

    article.charts{
        justify-content: center;
    }
}
