body, html{
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    height: 200px;
    background-repeat: space;
    background-position: top;
    background-image: url("./assets/logo-counter.png");
}


main{
    margin: 0 auto;
    width: 100%;
}

article {
    margin: 0;
    padding-top: 10px;
}

th, td {
    text-align: right !important;
}

article.charts {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

nav a.game {
    text-decoration: none;
    color: black;
    display: block;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 0;
}

nav a.game h2{
    margin: 0;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
}

nav a.game .date{
    font-size: 0.8em;
    display: inline-block;
    font-weight: bold;
}

.chart {
    display: flex;
    max-width: 90%;
}

.chart.area {
    width: 38%;
}

.chart.total{
    width: 20%;
}

.chart.trend{
    width: 38%;
}

canvas {
    width: 50%;
}

article.grid-wrp {
    direction: ltr;
    width: 80%;
    margin: 0 auto;
}

.data-total {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.data-total div {
    text-align: center;
}

div#last-update {
    border-radius: 10px;
    font-size: 0.8em;
    margin: 8px;
    direction: rtl;
}

/*
.data.trend {
    position: relative;
    bottom: -200px;
    width: 100%;
    margin: 0 auto;
    height: 500px;
}*/

@media (max-width: 640px){
    header{
        background-size: cover;
        background-attachment: inherit;
        background-position-y: center;
        height: 180px;
        background-image: url("./assets/bg.png");
    }

    .grid-wrp, .chart.area, .chart.trend {
        display: none ;
    }

    .chart.total{
        display: block;
        width: 90%;
    }

    div#last-update {
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 5px;
    }

    article.charts{
        justify-content: center;
    }
}
