body, html{
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    height: 200px;
    background-repeat: space;
    background-position: top;
}

main{
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
}

.data {
    display: flex;
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}

.data.total{
    display: none;
}

article.grid-wrp {
    direction: ltr;
}

.data-total {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.data-total div {
    text-align: center;
}


canvas {
    justify-content: space-between;
    width: 50%;
}

article {
    margin: 0;
}

th, td {
    text-align: right !important;
}

div#last-update {
    border-radius: 10px;
    font-size: 0.8em;
    margin: 8px;
    direction: rtl;
}

@media (max-width: 640px){
    header{
        background-size: cover;
        background-attachment: inherit;
        background-position-y: center;
        padding-bottom: 30px;
        height: 150px;
    }

    .grid-wrp, .data.area {
        display: none ;
    }

    .data.total{
        display: block;
        width: 75%;
    }

    div#last-update {
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 5px;

    }
}
